<% content_for :head do %>
    <%= stylesheet_link_tag 'post' %>
    <%= stylesheet_link_tag 'header' %>
    <%= javascript_include_tag 'noone/PCASClass' %>
<% end %>

<%= render 'homepage/header' %>

<section class="mt-container">
    <div class="mt-item-container post-container">
        <div class="post-content-box">
            <div class="postbox-left">
                <img src="/images/headicon/head.png"/>
            </div>
            <div class="postbox-right">
                <input type="text" class="form-control" id="story-content" placeholder="你想要做的事情"/>
                <input type="text" class="form-control" id="speak-to-stranger" placeholder="你想对ta说的话"/>
                <div class="date-locatino-box">
                    <div class="form-group date-location-item">
                        <label for="post-item-date">日期</label>
                        <select class="selectpicker form-control" id="post-item-date">
                            <option>--请选择日期--</option>
                            <% @date_array.each do |date_str| %>
                                <option><%= date_str %></option>
                            <% end %>
                        </select>
                    </div>
                    <div class="form-group date-location-item">
                        <label for="post-item-time">时间</label>
                        <select class="selectpicker form-control" id="post-item-time" data-size="13">
                            <option>--请选择时间--</option>
                            <option>00:00</option>
                            <option>01:00</option>
                            <option>02:00</option>
                            <option>03:00</option>
                            <option>04:00</option>
                            <option>05:00</option>
                            <option>06:00</option>
                            <option>07:00</option>
                            <option>08:00</option>
                            <option>09:00</option>
                            <option>10:00</option>
                            <option>11:00</option>
                            <option>12:00</option>
                            <option>13:00</option>
                            <option>14:00</option>
                            <option>15:00</option>
                            <option>16:00</option>
                            <option>17:00</option>
                            <option>18:00</option>
                            <option>19:00</option>
                            <option>20:00</option>
                            <option>21:00</option>
                            <option>22:00</option>
                            <option>23:00</option>
                        </select>
                    </div>
                    <div class="form-group date-location-item">
                        <label for="post-item-province">省份</label>
                        <select class="selectpicker form-control" id="post-item-province" data-size="15" name="post-item-province">

                        </select>
                    </div>
                    <div class="form-group date-location-item">
                        <label for="post-item-city">城市</label>
                        <select class="selectpicker form-control" id="post-item-city" data-size="15" name="post-item-city">

                        </select>
                    </div>
                    <div class="form-group date-location-item">
                        <label for="post-item-area">地区</label>
                        <select class="selectpicker form-control" id="post-item-area" data-size="15" name="post-item-area">

                        </select>
                    </div>
                </div>
                <div class="location-detail-box">
                    <input type="text" class="form-control" id="detail-location" placeholder="详细坐标 (例如: 江桥万达影院5号厅7排12座)"/>
                    <select class="selectpicker form-control" id="post-item-group" data-width="160px">
                        <option value="one">一个人</option>
                        <option value="two">两个人</option>
                        <option value="three">三介人</option>
                        <option value="four">四个人</option>
                        <option value="five">五个人</option>
                        <option value="more">一群人</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="post-btn-box">
            <button id="btn-post-story" class="btn btn-danger">发约</button>
        </div>
    </div>
</section>


<script>
    new PCAS("post-item-province","post-item-city","post-item-area");

        $(function(){
            // 延迟刷新
            $("#post-item-province").change(function(){
                setTimeout(function () {
                    $('.selectpicker').selectpicker('refresh');
                }, 50);

            });

            $("#post-item-city").change(function(){
                setTimeout(function () {
                    $('.selectpicker').selectpicker('refresh');
                }, 50);

            });

            $("#post-item-area").change(function(){
                setTimeout(function () {
                    $('.selectpicker').selectpicker('refresh');
                }, 50);

            });


            $("#btn-post-story").click(function(){
                var thing = $.trim($("#story-content").val());
                var speak = $.trim($("#speak-to-stranger").val());
                var date = $("#post-item-date").val();
                var time = $("#post-item-time").val();
                var province = $("#post-item-province").val();
                var city = $("#post-item-city").val();
                var area = $("#post-item-area").val();
                var detail_location = $.trim($("#detail-location").val());
                var group = $("#post-item-group").val();

                if(thing.length == 0){
                    alert("告诉大家你想做的事情吧");
                    return;
                }

                if(speak.length == 0){
                    alert("要不要跟陌生人说点什么呢？");
                    return;
                }


                $.ajax({
                    type:"POST",
                    url:"/topost",
                    data:{
                        _thing:thing,
                        _speak:speak,
                        _date:date,
                        _time:time,
                        _province:province,
                        _city:city,
                        _area:area,
                        _detail_location:detail_location,
                        _group:group,
                    },
                    success:function(data,textStatus,xhr){

                    }

                });


            });

        });
</script>