<% content_for :head do %>
    <%= stylesheet_link_tag 'post' %>
    <%= stylesheet_link_tag 'header' %>
    <%= javascript_include_tag 'noone/PCASClass' %>
<% end %>

<%= render 'homepage/header' %>

<section class="mt-container">
    <div class="mt-item-container post-container">
        <div class="post-content-box">
            <div class="postbox-left">
                <img src="/images/headicon/head.png"/>
            </div>
            <div class="postbox-right">
                <input type="text" class="form-control" id="story-content" placeholder="你想要做的事情"/>
                <input type="text" class="form-control" id="speak-to-stranger" placeholder="你想对ta说的话"/>
                <div class="date-locatino-box">
                    <div class="form-group date-location-item">
                        <label for="post-item-date">日期</label>
                        <select class="selectpicker form-control" id="post-item-date">
                            <option>--请选择日期--</option>
                            <% @date_array.each do |date_str| %>
                                <option><%= date_str %></option>
                            <% end %>
                        </select>
                    </div>
                    <div class="form-group date-location-item">
                        <label for="post-item-time">时间</label>
                        <select class="selectpicker form-control" id="post-item-time" data-size="13">
                            <option>--请选择时间--</option>
                            <option value="0">凌晨00点</option>
                            <option value="1">凌晨01点</option>
                            <option value="2">凌晨02点</option>
                            <option value="3">凌晨03点</option>
                            <option value="4">凌晨04点</option>
                            <option value="5">凌晨05点</option>
                            <option value="6">早晨06点</option>
                            <option value="7">早晨07点</option>
                            <option value="8">早晨08点</option>
                            <option value="9">上午09点</option>
                            <option value="10">上午10点</option>
                            <option value="11">上午11点</option>
                            <option value="12">中午12点</option>
                            <option value="13">下午01点</option>
                            <option value="14">下午02点</option>
                            <option value="15">下午03点</option>
                            <option value="16">下午04点</option>
                            <option value="17">下午05点</option>
                            <option value="18">下午06点</option>
                            <option value="19">晚上07点</option>
                            <option value="20">晚上08点</option>
                            <option value="21">晚上09点</option>
                            <option value="22">早上10点</option>
                            <option value="23">晚上11点</option>
                        </select>
                    </div>
                    <div class="form-group date-location-item">
                        <label for="post-item-province">省份</label>
                        <select class="selectpicker form-control" id="post-item-province" data-size="15" name="post-item-province">

                        </select>
                    </div>
                    <div class="form-group date-location-item">
                        <label for="post-item-city">城市</label>
                        <select class="selectpicker form-control" id="post-item-city" data-size="15" name="post-item-city">

                        </select>
                    </div>
                    <div class="form-group date-location-item">
                        <label for="post-item-area">地区</label>
                        <select class="selectpicker form-control" id="post-item-area" data-size="15" name="post-item-area">

                        </select>
                    </div>
                </div>
                <div class="location-detail-box">
                    <input type="text" class="form-control" id="detail-location" placeholder="详细坐标 (例如: 江桥万达影院5号厅7排12座)"/>
                    <select class="selectpicker form-control" id="post-item-group" data-width="160px">
                        <option>一个人</option>
                        <option>两个人</option>
                        <option>三介人</option>
                        <option>四个人</option>
                        <option>五个人</option>
                        <option>一群人</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="post-btn-box">
            <button id="btn-post-story" class="btn btn-danger">发约</button>
        </div>
    </div>
</section>


<script>
    new PCAS("post-item-province","post-item-city","post-item-area");

        $(function(){
            // 延迟刷新
            $("#post-item-province").change(function(){
                setTimeout(function () {
                    $('.selectpicker').selectpicker('refresh');
                }, 50);

            });

            $("#post-item-city").change(function(){
                setTimeout(function () {
                    $('.selectpicker').selectpicker('refresh');
                }, 50);

            });

            $("#post-item-area").change(function(){
                setTimeout(function () {
                    $('.selectpicker').selectpicker('refresh');
                }, 50);

            });


            var post_lock = false;

            $("#btn-post-story").click(function(){

                if(post_lock){
                    return;
                }

                var thing = $.trim($("#story-content").val());
                var speak = $.trim($("#speak-to-stranger").val());
                var date = $("#post-item-date").val();
                var time = $("#post-item-time option:selected").text();
                var province = $.trim($("#post-item-province").val());
                var city = $("#post-item-city").val();
                var area = $("#post-item-area").val();
                var detail_location = $.trim($("#detail-location").val());
                var group = $("#post-item-group").val();


                if(thing.length == 0){
                    alert("告诉大家你想做的事情吧");
                    return;
                }

                if(speak.length == 0){
                    alert("要不要跟陌生人说点什么呢？");
                    return;
                }


                if(date == "--请选择日期--"){
                    alert("选择一下日期吧");
                    return;
                }


                if(province == ""){
                    alert("你在哪个省呢？");
                    return;
                }


                if(city == "市辖区" || city == "市辖县"){
                    city = "";
                }

                if(area == "市辖区" || area == "市辖县"){
                    area = "";
                }


                // 解析日期中的三段
                var date_str = date.substring(0,10);
                var date_array = date_str.split('.');
                var date_year = parseInt(date_array[0]);
                var date_month = parseInt(date_array[1]);
                var date_day = parseInt(date_array[2]);


                // 解析时间两个字段
                var time_hour = 0;
                var time_minute = 0;

                if(time != "--请选择时间--"){
                    time_hour = parseInt($("#post-item-time").val());
                    time_minute = 0;
                }
                else{
                    time = "";
                }




                post_lock = true;

                $.ajax({
                    type:"POST",
                    url:"/topost",
                    data:{
                        _thing:thing,
                        _speak:speak,
                        _date:date,
                        _time:time,
                        _date_year:date_year,
                        _date_month:date_month,
                        _date_day:date_day,
                        _time_hour:time_hour,
                        _time_minute:time_minute,
                        _province:province,
                        _city:city,
                        _area:area,
                        _detail_location:detail_location,
                        _group:group,
                    },
                    success:function(data,textStatus,xhr){
                        if(data.result != null && data.result != 0){
                            alert(data.message);
                            post_lock = false;
                        }
                    }
                });


            });

        });
</script>